body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff;
    padding: 15px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 100px; 
    color: #fff;
    text-decoration: none;
}

/* Navigation */
nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

nav a:hover, .active-page {
    color: #4CAF50;
}

/* Main */
:root {
    --bs-dark-rgb: 33, 37, 41; 
}

main {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    padding: 20px;
}

/* Title */
.title {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
}

/* About Section*/
.about-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 30px; 
}

/* Image Container */
.about-section {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.image-container img {
    width: 100%;
    aspect-ratio: 6 / 1;
    object-fit: cover; 
}

/* About Text*/
.text{
    color: #fff;
    text-align: center;
}

/* Photographers Section */
.title-photographers {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.photographers {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px; 
}

/* Photographers Photo */
.photographer{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}

.photo-circle {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 40px;
}

.photo-circle img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover; 
}

/* Photographers Text */
.photographers-section {
    text-align: center;
}

.photographer-info h3 {
    margin: 15px 0 10px;
    color: #fff;
}

.photographer-info p {
    margin-bottom: 15px;
    color: #fff;
}

/* Photographers Links */
.contact-links {
    color: #ccc;
}

.contact-links a {
    color: #ccc;
    text-decoration: none;
}

.contact-links a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff;
    padding: 10px;
    text-align: center;
}
