body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff;
    padding: 15px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 100px; 
    color: #fff;
    text-decoration: none;
}

/* Navigation */
nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

nav a:hover, .active-page {
    color: #20c997;
}

/* Main */
:root {
    --bs-dark-rgb: 33, 37, 41; 
}

main {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    padding: 20px;
}

/* Title */
.title {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
}

/* Contacts Section */
.contact-section1 {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 3%;
    padding: 0px 50px;
    margin-bottom: -15px;
}

.contact-section2 {
    display: grid;
    grid-template-columns: 63% 30%;
    grid-gap: 3%; 
    padding: 0px 50px;
    margin-bottom: -15px;
}

.contact-us{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Contacts Text */
label, textarea {
    display: block;
    width: 100%;
    color:#fff;
    font-size: 16px;
}

.textarea1 {
    padding: 50px 2px;
}

textarea:hover {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff; 
}

textarea {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff;
    border: 1px solid #fff;
}

h3 {
    margin: 15px 0 10px;
    color: #fff;
    text-align: center;
}

p {
    margin-bottom: 15px;
    color: #fff;
    text-align: center;
}

.button {
    padding: 10px 20px;
    border: 2px solid white; 
    background-color: transparent; 
    color: white; 
    text-decoration: none;
    width: 20%;
    text-align: center
}

.button:hover {
    background-color: white; 
    color: black; 
}

/* Scroll */
#scroll-top {
    padding: 10px 20px;
    border: 2px solid white; 
    background-color: transparent; 
    color: white; 
    text-decoration: none;
}

#scroll-top:hover {
    background-color: white; 
    color: black; 
}

/* Footer */
footer {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff;
    padding: 10px;
    text-align: center;
}

span{
    color: #20c997;
}