body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 100px;
}

/* Navigation */
nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

nav a:hover, .active-page {
    color: #4CAF50;
}

/* Main */
main {
    background-color: #000; 
    padding: 20px;
}

/* Title */
.title {
    background-color: #000;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

/* Contacts Section */
.contact-section1 {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 3%;
    padding: 0px 50px;
    margin-bottom: -15px;
}

.contact-section2 {
    display: grid;
    grid-template-columns: 63% 30%;
    grid-gap: 3%; 
    padding: 0px 50px;
    margin-bottom: -15px;
}

/* Contacts Text */
label, textarea {
    display: block;
    width: 100%;
    color:#fff;
    font-size: 16px;
}

.textarea1 {
    padding: 50px 2px;
}

textarea:hover {
    background-color: white; 
    color: black; 
}

textarea {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

h3 {
    margin: 15px 0 10px;
    color: #fff;
    text-align: center;
}

p {
    margin-bottom: 15px;
    color: #fff;
    text-align: center;
}

.button {
    padding: 10px 20px;
    border: 2px solid white; 
    background-color: transparent; 
    color: white; 
    text-decoration: none;
    width: 20%;
    text-align: center
}

.button:hover {
    background-color: white; 
    color: black; 
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}