body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    color: #fff;
    padding: 15px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 100px; 
    color: #fff;
    text-decoration: none;
}

/* Navigation */
nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

nav a:hover, .active-page {
    color: #20c997;
}

/* Main */
:root {
    --bs-dark-rgb: 33, 37, 41; 
}

main {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    padding: 20px;
}

/* Image Section */
.image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px; 
    margin-top: 100px;
}

/* Image Container */
.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.image-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover; 
    transition: opacity 0.3s ease; 
}

.image-container:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.image-container:hover img {
    opacity: 0.8; 
}

/* Image Overlay */
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image Content */
.image-content {
    text-align: center;
    color: white;
}

.image-content h3{
    font-size: 30px;
}

.image-content .button {
    padding: 10px 20px;
    border: 2px solid white; 
    background-color: transparent; 
    color: white; 
    text-decoration: none;
}

.image-content .button:hover {
    background-color: white; 
    color: black; 
}

/* Scroll Top */
#scroll-top {
    padding: 10px 20px;
    border: 2px solid white; 
    background-color: transparent; 
    color: white; 
    text-decoration: none;
}

#scroll-top:hover {
    background-color: white; 
    color: black; 
}

/* Footer */
footer {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    padding: 10px;
    text-align: center;
    color: #fff;
}

span{
    color: #20c997;
}



